html {
    background-color: green;
}

@keyframes bkAnimColor {
  from {
    background-color: red;
  }
  15% {
    background-color: orange;
  }
  35% {
    background-color: yellow;
  }
  65% {
    background-color: green;
  }
  75% {
    background-color: blue;
  }
  to {
    background-color: violet;
  }
}

@keyframes bkRotate {
  from {
    transform: rotate(10deg);
  }
  5% {
    transform: rotate(15deg);
  }
  8% {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(25deg);
  }
  12% {
    transform: rotate(30deg);
  }
  14% {
    transform: rotate(35deg);
  }
  18% {
    transform: rotate(40deg);
  }
  22% {
    transform: rotate(45deg);
  }
  24% {
    transform: rotate(55deg);
  }
  28% {
    transform: rotate(60deg);
  }
  32% {
    transform: rotate(65deg);
  }
  36% {
    transform: rotate(70deg);
  }
  40% {
    transform: rotate(75deg);
  }
  45% {
    transform: rotate(80deg);
  }
  48% {
    transform: rotate(85deg);
  }
  50% {
    transform: rotate(90deg);
  }
  52% {
    transform: rotate(95deg);
  }
  56% {
    transform: rotate(100deg);
  }
  58% {
    transform: rotate(110deg);
  }
  60%{
    transform: rotate(115deg);
  }
  64%{
    transform: rotate(120deg);
  }
  68% {
    transform: rotate(125deg);
  }
  70% {
    transform: rotate(130deg);
  }
  72% {
    transform: rotate(135deg);
  }
  74% {
    transform: rotate(140deg);
  }
  78% {
    transform: rotate(145deg);
  }
  80% {
    transform: rotate(155deg);
  }
  86% {
    transform: rotate(160deg);
  }
  90% {
    transform: rotate(165deg);
  }
  92% {
    transform: rotate(170deg);
  }
  96% {
    transform: rotate(175deg);
  }
  to {
    transform: rotate(180deg);
  }
}

#bk {
  animation-name: bkAnimColor, bkRotate;
  animation-duration: 4s, 0.5s;
  animation-iteration-count: infinite;
  height: 60px;
  width: 60px;
  font-size: 10px;
  margin-left: 20px;
}
